.color_red{
    color: red;
    background-color:red;
}
.color_cyan{
    color:cyan;
    background-color:cyan;;
}
.color_violet{
    color:violet;
    background-color:violet;
}
.color_orange{
    color:orange;
    background-color:orange;
}
.color_pink{
    color:pink;
    background-color:pink;
}
